<%- include('partial/header'); -%>

<h1>Compose</h1>
<div class="form-group">
    <form action="/compose" method="POST">
        <label>Title</label>
        <input type="text" class="form-control" name="date" id="">
        
        <label>Post</label><br>
        <textarea class="form-control" name="userInput" id="" cols="40" rows="10"></textarea>
       
      
    </form>
</div>
<button type="submit" class="btn btn-primary">Publish</button>P


<%- include('partial/footer') -%>
